// #######################################
// EHT config
//
// When changing any of these values you won't get any support for issues!
//
// #######################################
{
	"exposure" : {
		"effects" : {
			"hypo3" : "status_hypo3",
			"hypo2" : "status_hypo2",
			"hypo1" : "status_hypo1",
			"hypo0" : "status_hypo0",
			"hyper0" : "status_hyper0",
			"hyper1" : "status_hyper1",
			"hyper2" : "status_hyper2",
			"hyper3" : "status_hyper3"
		}
	},
	
	// Mutated / Alien
	"planetTypes" : {
		"biome_alien" : {
			"day"		: [-70, 5, 25, 23, 18, 15, 26, 70],
			"night"		: [-70, -10, -7, 14, 18, 15, 26, 70],
			"skipCheck"	: false
		},
		
		// Arctic
		"biome_arctic" : {
			"day"		: [-70, -28, -18, -8, 2, 10, 26, 70],
			"night"		: [-70, -35, -28, -16, -4, 10, 26, 70],
			"skipCheck"	: false
		},
		
		// Asteroidfield
		"biome_asteroids" : {
			"day"		: [70, 70, 70, 70, 70, 70, 70, 70],
			"night"		: [-70, -70, -70, -70, -70, -70, -70, -70],
			"skipCheck"	: false
		},
		
		// Barren
		"biome_barren" : {
			"day"		: [-70, 5, 14, 12, 14, 15, 26, 18],
			"night"		: [-70, -12, 2, 8, 14, 15, 26, 18],
			"skipCheck"	: false
		},
		
		// Desert
		"biome_desert" : {
			"day"		: [-70, 13, 35, 26, 20, 15, 26, 70],
			"night"		: [-70, -26, -14, 3, 18, 15, 26, 70],
			"skipCheck"	: false
		},
		
		// Forest
		"biome_forest" : {
			"day"		: [-70, 2, 23, 20, 18, 15, 23, 70],
			"night"		: [-70, -6, 10, 14, 18, 15, 23, 70],
			"skipCheck"	: false
		},
		
		// Garden
		"biome_garden" : {
			"day"		: [-70, 5, 22, 20, 18, 15, 23, 70],
			"night"		: [-70, 1, 12, 14, 18, 15, 23, 70],
			"skipCheck"	: false
		},
		
		// Jungle
		"biome_jungle" : {
			"day"		: [-70, 5, 34, 27, 20, 15, 26, 70],
			"night"		: [-70, -10, 21, 17, 20, 15, 26, 70],
			"skipCheck"	: false
		},
		
		// Magma
		"biome_magma" : {
			"day"		: [-70, 16, 54, 43, 38, 34, 42, 70],
			"night"		: [-70, -10, 49, 41, 38, 34, 42, 70],
			"skipCheck"	: false
		},
		
		// Midnight
		"biome_midnight" : {
			"day"		: [-70, -35, -25, -17, 1, 9, 26, 70],
			"night"		: [-70, -38, -31, -21, 1, 9, 26, 70],
			"skipCheck"	: false
		},
		
		// Moon
		"biome_moon" : {
			"day"		: [70,   70,  70,  35, 25, 15, 5, 0],
			"night"		: [-70, -70, -70, -25, 25, 15, 5, 0],
			"skipCheck"	: false
		},
		
		// Ocean
		"biome_ocean" : {
			"day"		: [-70, 5, 25, 23, 18, 15, 26, 70],
			"night"		: [-70, -10, -7, 14, 18, 15, 26, 70],
			"skipCheck"	: false
		},
		
		// Savannah
		"biome_savannah" : {
			"day"		: [-70, 8, 28, 21, 18, 15, 26, 70],
			"night"		: [-70, -10, -7, 4, 18, 15, 26, 70],
			"skipCheck"	: false
		},
		
		// Scorched City
		"biome_scorched" : {
			"day"		: [-70, 13, 47, 36, 28, 20, 26, 70],
			"night"		: [-70, 11, 39, 28, 23, 20, 26, 70],
			"skipCheck"	: false
		},
		
		// Snow
		"biome_snow" : {
			"day"		: [-70, -18, -4, 0, 2, 10, 26, 70],
			"night"		: [-70, -25, -15, -5, 2, 10, 26, 70],
			"skipCheck"	: false
		},
		
		// Toxic
		"biome_toxic" : {
			"day"		: [-70, 5, 25, 23, 18, 15, 26, 70],
			"night"		: [-70, -10, -7, 14, 18, 15, 26, 70],
			"skipCheck"	: false
		},
		
		// Tundra
		"biome_tundra" : {
			"day"		: [-70, -28, -18, -8, 2, 10, 26, 70],
			"night"		: [-70, -35, -25, -16, -4, 10, 26, 70],
			"skipCheck"	: false
		},
		
		// Volcanic
		"biome_volcanic" : {
			"day"		: [-70, 16, 54, 43, 38, 34, 42, 70],
			"night"		: [-70, -10, 49, 41, 38, 34, 42, 70],
			"skipCheck"	: false
		}
	},
	
	// Weathertypes used for temperature offset
	"weathertypes" : [
		{
			"name" : "IB_EHT_rain",
			"mod" : -1
		},
		{
			"name" : "IB_EHT_snow",
			"mod" : -3 
		},
		{
			"name" : "IB_EHT_ember",
			"mod" : 3 
		}
	],
	
	// Heat sources contains all sources that provide heat or cool you down
	"heatSourcesRange" : 10,
	"heatSources" : [
		{
			"name" : "campfire",
			"exposure_mod" : 5,
			"state" : {
				"needed" : false
			}
		},
		{
			"name" : "torch",
			"exposure_mod" : 1,
			"state" : {
				"needed" : true
			}
		},
		{
			"name" : "medievalfurnace",
			"exposure_mod" : 5,
			"state" : {
				"needed" : false
			}
		},
		{
			"name" : "craftingfurnace",
			"exposure_mod" : 5,
			"state" : {
				"needed" : false
			}
		},
		{
			"name" : "prisonbarrelfire",
			"exposure_mod" : 5,
			"state" : {
				"needed" : false
			}
		},
		{
			"name" : "medievalfireplace",
			"exposure_mod" : 5,
			"state" : {
				"needed" : false
			}
		},
		{
			"name" : "bunkerheater1",
			"exposure_mod" : 10,
			"state" : {
				"needed" : false
			}
		},
		{
			"name" : "huntinggroundtorch",
			"exposure_mod" : 2,
			"state" : {
				"needed" : true
			}
		},
		{
			"name" : "skulltorch",
			"exposure_mod" : 1,
			"state" : {
				"needed" : true
			}
		},
		{
			"name" : "planttorch",
			"exposure_mod" : 1,
			"state" : {
				"needed" : true
			}
		},
		{
			"name" : "medievaltorch",
			"exposure_mod" : 1,
			"state" : {
				"needed" : true
			}
		},
		{
			"name" : "skullwalltorch",
			"exposure_mod" : 1,
			"state" : {
				"needed" : true
			}
		},
		{
			"name" : "slimetorch",
			"exposure_mod" : 1,
			"state" : {
				"needed" : true
			}
		},
		{
			"name" : "sandstonetorch",
			"exposure_mod" : 1,
			"state" : {
				"needed" : true
			}
		},
		{
			"name" : "ancienttorch",
			"exposure_mod" : 1,
			"state" : {
				"needed" : true
			}
		},
		{
			"name" : "floranchandelier",
			"exposure_mod" : 3,
			"state" : {
				"needed" : true
			}
		},
		{
			"name" : "cabinstove",
			"exposure_mod" : 5,
			"state" : {
				"needed" : false
			}
		},
		{
			"name" : "medievalcandle",
			"exposure_mod" : 1,
			"state" : {
				"needed" : true
			}
		},
		{
			"name" : "medievalchandelier",
			"exposure_mod" : 3,
			"state" : {
				"needed" : true
			}
		},
		{
			"name" : "classiccandlestick",
			"exposure_mod" : 1,
			"state" : {
				"needed" : true
			}
		},
		{
			"name" : "holidaycandles",
			"exposure_mod" : 1,
			"state" : {
				"needed" : false
			}
		},
		{
			"name" : "frontierfurnace",
			"exposure_mod" : 5,
			"state" : {
				"needed" : false
			}
		},
		{
			"name" : "gothiclight",
			"exposure_mod" : 1,
			"state" : {
				"needed" : true
			}
		},
		{
			"name" : "heartforge",
			"exposure_mod" : 5,
			"state" : {
				"needed" : false
			}
		},
		{
			"name" : "medievallargecookingpot",
			"exposure_mod" : 5,
			"state" : {
				"needed" : false
			}
		},
		{
			"name" : "menorah",
			"exposure_mod" : 1,
			"state" : {
				"needed" : false
			}
		},
		{
			"name" : "floranstove",
			"exposure_mod" : 5,
			"state" : {
				"needed" : false
			}
		},
		{
			"name" : "royalcandles",
			"exposure_mod" : 1,
			"state" : {
				"needed" : true
			}
		},
		{
			"name" : "rusticoven",
			"exposure_mod" : 5,
			"state" : {
				"needed" : false
			}
		},
		{
			"name" : "spookycandles",
			"exposure_mod" : 1,
			"state" : {
				"needed" : true
			}
		},
		{
			"name" : "spookypumpkinhead",
			"exposure_mod" : 1,
			"state" : {
				"needed" : true
			}
		},
		{
			"name" : "woodentalllantern",
			"exposure_mod" : 2,
			"state" : {
				"needed" : true
			}
		},
		{
			"name" : "birdgroundlantern",
			"exposure_mod" : 2,
			"state" : {
				"needed" : true
			}
		}
		
	],
	
	// Hybrid sources will turn the temperature to the target temperature
	"hybridSources" : [
		{
			"name" : "bunkervent",
			"range" : 20
		},
		{
			"name" : "vent",
			"range" : 10
		},
		{
			"name" : "barvent",
			"range" : 10
		},
		{
			"name" : "roofvent",
			"range" : 25
		}
	],
	
	// Liquid setting
	"liquid" : [
		{
			// Water
			"type" : 1,
			"mod" : -10
		}, 
		{
			// Lava
			"type" : 2,
			"mod" : 100
		}, 
		{
			// Poison
			"type" : 3,
			"mod" : -10
		}, 
		{
			// Tarliquid
			"type" : 5,
			"mod" : -10
		}, 
		{
			// Healing liquid
			"type" : 6,
			"mod" : 0
		}, 
		{
			// Milk
			"type" : 7,
			"mod" : 0
		}, 
		{
			// Corelava
			"type" : 8,
			"mod" : 100
		}, 
		{
			// Fuel
			"type" : 11,
			"mod" : -10
		}, 
		{
			// Swampwater
			"type" : 12,
			"mod" : -10
		}, 
		{
			// Slimeliquid
			"type" : 13,
			"mod" : -10
		}, 
		{
			// Jellyliquid
			"type" : 17,
			"mod" : -10
		}
	],
	
	// Equipment setting
	"equip" : [
		{
			"type" : "snowinfantrychest",
			"slot" : "chest",
			"needStatus" : false,
			"protection" :
			{
				"value" : 3,
				"type" : "hypo"
			}
		},
		{
			"type" : "snowinfantrypants",
			"slot" : "legs",
			"needStatus" : false,
			"protection" : 
			{
				"value" : 3,
				"type" : "hypo"
			}
		},
		{
			"type" : "snowinfantryhead",
			"slot" : "head",
			"needStatus" : false,
			"protection" : 
			{
				"value" : 3,
				"type" : "hypo"
			}
		},
		{
			"type" : "penguinchest",
			"slot" : "chest",
			"needStatus" : false,
			"protection" : 
			{
				"value" : 3,
				"type" : "hypo"
			}
		},
		{
			"type" : "penguinlegs",
			"slot" : "legs",
			"needStatus" : false,
			"protection" :
			{
				"value" : 3,
				"type" : "hypo"
			}
		},
		{
			"type" : "penguinhead",
			"slot" : "head",
			"needStatus" : false,
			"protection" : 
			{
				"value" : 3,
				"type" : "hypo"
			}
		},
		{
			"type" : "alpacachest",
			"slot" : "chest",
			"needStatus" : false,
			"protection" : 
			{
				"value" : 3,
				"type" : "hypo"
			}
		},
		{
			"type" : "alpacalegs",
			"slot" : "legs",
			"needStatus" : false,
			"protection" : 
			{
				"value" : 3,
				"type" : "hypo"
			}
		},
		{
			"type" : "alpacahead",
			"slot" : "head",
			"needStatus" : false,
			"protection" : 
			{
				"value" : 3,
				"type" : "hypo"
			}
		},
		{
			"type" : "bedouinchest",
			"slot" : "chest",
			"needStatus" : false,
			"protection" : 
			{
				"value" : 3,
				"type" : "hyper"
			}
		},
		{
			"type" : "bedouinlegs",
			"slot" : "legs",
			"needStatus" : false,
			"protection" : 
			{
				"value" : 3,
				"type" : "hyper"
			}
		},
		{
			"type" : "bedouinhead",
			"slot" : "head",
			"needStatus" : false,
			"protection" : 
			{
				"value" : 3,
				"type" : "hyper"
			}
		},
		{
			"type" : "ushankahead",
			"slot" : "head",
			"needStatus" : false,
			"protection" : 
			{
				"value" : 3,
				"type" : "hypo"
			}
		},
		{
			"type" : "sombrerohead",
			"slot" : "head",
			"needStatus" : false,
			"protection" : 
			{
				"value" : 3,
				"type" : "hyper"
			}
		},
		{
			"type" : "pyramidhead",
			"slot" : "head",
			"needStatus" : false,
			"protection" : 
			{
				"value" : 3,
				"type" : "hyper"
			}
		},
		{
			"type" : "boilerback",
			"slot" : "back",
			"needStatus" : false,
			"protection" : 
			{
				"value" : 5,
				"type" : "hypo"
			}
		}
	]
}