// #######################################
//
// EHT config
//  * Core
//
// #######################################
{
	"exposure" : {
		"effects" : {
			"hypo3" : "status_hypo3",
			"hypo2" : "status_hypo2",
			"hypo1" : "status_hypo1",
			"hypo0" : "status_hypo0",
			"hyper0" : "status_hyper0",
			"hyper1" : "status_hyper1",
			"hyper2" : "status_hyper2",
			"hyper3" : "status_hyper3"
		}
	},
	"fallbackTemperature" : 25,
	"blockRange" : 50,
	"NightStart" : 18,
	"DayStart" : 6,
	"TransitionTime" : 4
}
