{
	"equip" : [
		{
			"type" : "snowinfantrychest",
			"slot" : "chestCosmetic",
			"needStatus" : false,
			"protection" : {
				"value" : 3,
				"type" : "hypo",
				"factor" : 0.3
			}
		},
		{
			"type" : "snowinfantrypants",
			"slot" : "legsCosmetic",
			"needStatus" : false,
			"protection" : {
				"value" : 3,
				"type" : "hypo",
				"factor" : 0.25
			}
		},
		{
			"type" : "snowinfantryhead",
			"slot" : "headCosmetic",
			"needStatus" : false,
			"protection" : {
				"value" : 3,
				"type" : "hypo",
				"factor" : 0.15
			}
		},
		{
			"type" : "penguinchest",
			"slot" : "chestCosmetic",
			"needStatus" : false,
			"protection" : {
				"value" : 3,
				"type" : "hypo",
				"factor" : 0.2
			}
		},
		{
			"type" : "penguinlegs",
			"slot" : "legsCosmetic",
			"needStatus" : false,
			"protection" : {
				"value" : 3,
				"type" : "hypo",
				"factor" : 0.2
			}
		},
		{
			"type" : "penguinhead",
			"slot" : "headCosmetic",
			"needStatus" : false,
			"protection" : {
				"value" : 3,
				"type" : "hypo",
				"factor" : 0.2
			}
		},
		{
			"type" : "alpacachest",
			"slot" : "chestCosmetic",
			"needStatus" : false,
			"protection" : {
				"value" : 3,
				"type" : "hypo",
				"factor" : 0.2
			}
		},
		{
			"type" : "alpacalegs",
			"slot" : "legsCosmetic",
			"needStatus" : false,
			"protection" : {
				"value" : 3,
				"type" : "hypo",
				"factor" : 0.2
			}
		},
		{
			"type" : "alpacahead",
			"slot" : "headCosmetic",
			"needStatus" : false,
			"protection" : {
				"value" : 3,
				"type" : "hypo",
				"factor" : 0.2
			}
		},
		{
			"type" : "bedouinchest",
			"slot" : "chestCosmetic",
			"needStatus" : false,
			"protection" : {
				"value" : 3,
				"type" : "hyper",
				"factor" : 0.2
			}
		},
		{
			"type" : "bedouinlegs",
			"slot" : "legsCosmetic",
			"needStatus" : false,
			"protection" : {
				"value" : 3,
				"type" : "hyper",
				"factor" : 0.2
			}
		},
		{
			"type" : "bedouinhead",
			"slot" : "headCosmetic",
			"needStatus" : false,
			"protection" : {
				"value" : 3,
				"type" : "hyper",
				"factor" : 0.2
			}
		},
		{
			"type" : "ushankahead",
			"slot" : "headCosmetic",
			"needStatus" : false,
			"protection" : {
				"value" : 3,
				"type" : "hypo",
				"factor" : 0.2
			}
		},
		{
			"type" : "sombrerohead",
			"slot" : "headCosmetic",
			"needStatus" : false,
			"protection" : {
				"value" : 3,
				"type" : "hyper",
				"factor" : 0.2
			}
		},
		{
			"type" : "pyramidhead",
			"slot" : "headCosmetic",
			"needStatus" : false,
			"protection" : {
				"value" : 3,
				"type" : "hyper",
				"factor" : 0.2
			}
		},
		{
			"type" : "boilerback",
			"slot" : "backCosmetic",
			"needStatus" : false,
			"protection" : {
				"value" : 5,
				"type" : "hypo",
				"factor" : 0.35
			}
		},
		{
			"type" : "spacesuitlegs",
			"slot" : "legsCosmetic",
			"needStatus" : "biomeairless",
			"protection" : {
				"value" : 5,
				"type" : "hybrid",
				"factor" : 0.2
			}
		},
		{
			"type" : "spacesuitback",
			"slot" : "backCosmetic",
			"needStatus" : "biomeairless",
			"protection" : {
				"value" : 5,
				"type" : "hybrid",
				"factor" : 0.2
			}
		},
		{
			"type" : "spacesuitchest",
			"slot" : "chestCosmetic",
			"needStatus" : "biomeairless",
			"protection" : {
				"value" : 5,
				"type" : "hybrid",
				"factor" : 0.2
			}
		},
		{
			"type" : "spacesuithead",
			"slot" : "headCosmetic",
			"needStatus" : "biomeairless",
			"protection" : {
				"value" : 5,
				"type" : "hybrid",
				"factor" : 0.2
			}
		}
	]
}
