// #######################################
//
// EHT config
//  * Heatsource
//
// #######################################
{
	"heatSources" : [
		{
			"name" : "campfire",
			"exposure_mod" : 5,
			"range" : 5,
			"state" : {
				"needed" : false
			}
		},
		{
			"name" : "torch",
			"exposure_mod" : 1,
			"range" : 2,
			"state" : {
				"needed" : true
			}
		},
		{
			"name" : "medievalfurnace",
			"exposure_mod" : 5,
			"range" : 7,
			"state" : {
				"needed" : false
			}
		},
		{
			"name" : "craftingfurnace",
			"exposure_mod" : 5,
			"range" : 7,
			"state" : {
				"needed" : false
			}
		},
		{
			"name" : "prisonbarrelfire",
			"exposure_mod" : 5,
			"range" : 4,
			"state" : {
				"needed" : false
			}
		},
		{
			"name" : "medievalfireplace",
			"exposure_mod" : 5,
			"range" : 7,
			"state" : {
				"needed" : false
			}
		},
		{
			"name" : "bunkerheater1",
			"exposure_mod" : 10,
			"range" : 7,
			"state" : {
				"needed" : false
			}
		},
		{
			"name" : "huntinggroundtorch",
			"exposure_mod" : 2,
			"range" : 3,
			"state" : {
				"needed" : true
			}
		},
		{
			"name" : "skulltorch",
			"exposure_mod" : 1,
			"range" : 3,
			"state" : {
				"needed" : true
			}
		},
		{
			"name" : "planttorch",
			"exposure_mod" : 1,
			"range" : 2,
			"state" : {
				"needed" : true
			}
		},
		{
			"name" : "medievaltorch",
			"exposure_mod" : 1,
			"range" : 3,
			"state" : {
				"needed" : true
			}
		},
		{
			"name" : "skullwalltorch",
			"exposure_mod" : 1,
			"range" : 2,
			"state" : {
				"needed" : true
			}
		},
		{
			"name" : "slimetorch",
			"exposure_mod" : 1,
			"range" : 2,
			"state" : {
				"needed" : true
			}
		},
		{
			"name" : "sandstonetorch",
			"exposure_mod" : 1,
			"range" : 2,
			"state" : {
				"needed" : true
			}
		},
		{
			"name" : "ancienttorch",
			"exposure_mod" : 1,
			"range" : 2,
			"state" : {
				"needed" : true
			}
		},
		{
			"name" : "floranchandelier",
			"exposure_mod" : 3,
			"range" : 3,
			"state" : {
				"needed" : true
			}
		},
		{
			"name" : "cabinstove",
			"exposure_mod" : 5,
			"range" : 4,
			"state" : {
				"needed" : false
			}
		},
		{
			"name" : "medievalcandle",
			"exposure_mod" : 1,
			"range" : 1,
			"state" : {
				"needed" : true
			}
		},
		{
			"name" : "medievalchandelier",
			"exposure_mod" : 3,
			"range" : 3,
			"state" : {
				"needed" : true
			}
		},
		{
			"name" : "classiccandlestick",
			"exposure_mod" : 1,
			"range" : 1,
			"state" : {
				"needed" : true
			}
		},
		{
			"name" : "holidaycandles",
			"exposure_mod" : 1,
			"state" : {
				"needed" : false
			}
		},
		{
			"name" : "frontierfurnace",
			"exposure_mod" : 5,
			"range" : 7,
			"state" : {
				"needed" : false
			}
		},
		{
			"name" : "gothiclight",
			"exposure_mod" : 1,
			"range" : 2,
			"state" : {
				"needed" : true
			}
		},
		{
			"name" : "heartforge",
			"exposure_mod" : 5,
			"range" : 7,
			"state" : {
				"needed" : false
			}
		},
		{
			"name" : "medievallargecookingpot",
			"exposure_mod" : 5,
			"range" : 6,
			"state" : {
				"needed" : false
			}
		},
		{
			"name" : "menorah",
			"exposure_mod" : 1,
			"range" : 2,
			"state" : {
				"needed" : false
			}
		},
		{
			"name" : "floranstove",
			"exposure_mod" : 5,
			"range" : 5,
			"state" : {
				"needed" : false
			}
		},
		{
			"name" : "royalcandles",
			"exposure_mod" : 1,
			"range" : 2,
			"state" : {
				"needed" : true
			}
		},
		{
			"name" : "rusticoven",
			"exposure_mod" : 5,
			"range" : 5,
			"state" : {
				"needed" : false
			}
		},
		{
			"name" : "spookycandles",
			"exposure_mod" : 1,
			"range" : 1,
			"state" : {
				"needed" : true
			}
		},
		{
			"name" : "spookypumpkinhead",
			"exposure_mod" : 1,
			"range" : 1,
			"state" : {
				"needed" : true
			}
		},
		{
			"name" : "woodentalllantern",
			"exposure_mod" : 2,
			"range" : 2,
			"state" : {
				"needed" : true
			}
		},
		{
			"name" : "birdgroundlantern",
			"exposure_mod" : 2,
			"range" : 2,
			"state" : {
				"needed" : true
			}
		}
	]
}
