// #######################################
//
// EHT config
//  * Hybridsource
//
// #######################################
{
	"hybridSources" : [
		{
			"name" : "bunkervent",
			"range" : 20
		},
		{
			"name" : "vent",
			"range" : 10
		},
		{
			"name" : "barvent",
			"range" : 10
		},
		{
			"name" : "roofvent",
			"range" : 25
		}
	]
}
