// #######################################
//
// EHT config
//  * Hybridsource
//
// #######################################
{
	"hybridSources" : [
		{
			"name" : "bunkervent",
			"range" : 8,
			"state" : {
				"needed" : false
			}
		},
		{
			"name" : "vent",
			"range" : 6,
			"state" : {
				"needed" : false
			}
		},
		{
			"name" : "barvent",
			"range" : 5,
			"state" : {
				"needed" : false
			}
		},
		{
			"name" : "roofvent",
			"range" : 9,
			"state" : {
				"needed" : false
			}
		}
	]
}
