// #######################################
//
// EHT config
//  * Liquids
//
// #######################################
{
	"liquid" : [
		{
			// Water
			"type" : 1,
			"mod" : -10,
			"factor" : 0.2
		},
		{
			// Lava
			"type" : 2,
			"mod" : 100,
			"factor" : 5
		},
		{
			// Poison
			"type" : 3,
			"mod" : -10,
			"factor" : 0.2
		},
		{
			// Tarliquid
			"type" : 5,
			"mod" : -10,
			"factor" : 0.2
		},
		{
			// Healing liquid
			"type" : 6,
			"mod" : 0,
			"factor" : 0
		},
		{
			// Milk
			"type" : 7,
			"mod" : 0,
			"factor" : 0
		},
		{
			// Corelava
			"type" : 8,
			"mod" : 100,
			"factor" : 5
		},
		{
			// Fuel
			"type" : 11,
			"mod" : -10,
			"factor" : 0.2
		},
		{
			// Swampwater
			"type" : 12,
			"mod" : -10,
			"factor" : 0.2
		},
		{
			// Slimeliquid
			"type" : 13,
			"mod" : -10,
			"factor" : 0.2
		},
		{
			// Jellyliquid
			"type" : 17,
			"mod" : -10,
			"factor" : 0.2
		}
	]
}
