// #######################################
//
// EHT config
//  * Planets
//
// #######################################
{
	"planetTypes" : {
		// Mutated / Alien
		"alien" : {
			"day" : [ -70, 5, 25, 23, 18, 15, 26, 70 ],
			"night" : [ -70, -10, -7, 14, 18, 15, 26, 70 ],
			"skipCheck" : false
		},
		// Arctic
		"arctic" : {
			"day" : [ -70, -28, -18, -8, 2, 10, 26, 70 ],
			"night" : [ -70, -35, -28, -16, -4, 10, 26, 70 ],
			"skipCheck" : false
		},
		// Asteroidfield
		"asteroids" : {
			"day" : [ 70, 70, 70, 70, 70, 70, 70, 70 ],
			"night" : [ -70, -70, -70, -70, -70, -70, -70, -70 ],
			"skipCheck" : false
		},
		// Barren
		"barren" : {
			"day" : [ -70, 5, 14, 12, 14, 15, 26, 18 ],
			"night" : [ -70, -12, 2, 8, 14, 15, 26, 18 ],
			"skipCheck" : false
		},
		// Desert
		"desert" : {
			"day" : [ -70, 13, 35, 26, 20, 15, 26, 70 ],
			"night" : [ -70, -26, -14, 3, 18, 15, 26, 70 ],
			"skipCheck" : false
		},
		// Forest
		"forest" : {
			"day" : [ -70, 2, 23, 20, 18, 15, 23, 70 ],
			"night" : [ -70, -6, 10, 14, 18, 15, 23, 70 ],
			"skipCheck" : false
		},
		// Garden
		"garden" : {
			"day" : [ -70, 5, 22, 20, 18, 15, 23, 70 ],
			"night" : [ -70, 1, 12, 14, 18, 15, 23, 70 ],
			"skipCheck" : false
		},
		// Jungle
		"jungle" : {
			"day" : [ -70, 5, 34, 27, 20, 15, 26, 70 ],
			"night" : [ -70, -10, 21, 17, 20, 15, 26, 70 ],
			"skipCheck" : false
		},
		// Magma
		"magma" : {
			"day" : [ -70, 16, 54, 43, 38, 34, 42, 70 ],
			"night" : [ -70, -10, 49, 41, 38, 34, 42, 70 ],
			"skipCheck" : false
		},
		// Midnight
		"midnight" : {
			"day" : [ -70, -35, -25, -17, 1, 9, 26, 70 ],
			"night" : [ -70, -38, -31, -21, 1, 9, 26, 70 ],
			"skipCheck" : false
		},
		// Moon
		"moon" : {
			"day" : [ 70, 70, 70, 35, 25, 15, 5, 0 ],
			"night" : [ -70, -70, -70, -25, 25, 15, 5, 0 ],
			"skipCheck" : false
		},
		// Ocean
		"ocean" : {
			"day" : [ -70, 5, 25, 23, 18, 15, 26, 70 ],
			"night" : [ -70, -10, -7, 14, 18, 15, 26, 70 ],
			"skipCheck" : false
		},
		// Savannah
		"savannah" : {
			"day" : [ -70, 8, 28, 21, 18, 15, 26, 70 ],
			"night" : [ -70, -10, -7, 4, 18, 15, 26, 70 ],
			"skipCheck" : false
		},
		// Scorched City
		"scorchedcity" : {
			"day" : [ -70, 13, 47, 36, 28, 20, 26, 70 ],
			"night" : [ -70, 11, 39, 28, 23, 20, 26, 70 ],
			"skipCheck" : false
		},
		// Snow
		"snow" : {
			"day" : [ -70, -18, -4, 0, 2, 10, 26, 70 ],
			"night" : [ -70, -25, -15, -5, 2, 10, 26, 70 ],
			"skipCheck" : false
		},
		// Toxic
		"toxic" : {
			"day" : [ -70, 5, 25, 23, 18, 15, 26, 70 ],
			"night" : [ -70, -10, -7, 14, 18, 15, 26, 70 ],
			"skipCheck" : false
		},
		// Tundra
		"tundra" : {
			"day" : [ -70, -28, -18, -8, 2, 10, 26, 70 ],
			"night" : [ -70, -35, -25, -16, -4, 10, 26, 70 ],
			"skipCheck" : false
		},
		// Volcanic
		"volcanic" : {
			"day" : [ -70, 16, 54, 43, 38, 34, 42, 70 ],
			"night" : [ -70, -10, 49, 41, 38, 34, 42, 70 ],
			"skipCheck" : false
		}
	}
}
