{
	"status": [
		{
			"effect": "wet",
			"value": 2,
			"type": "hypo",
			"factor": 0.25
		},
		{
			"effect": "burning",
			"value": 25,
			"type": "hyper",
			"factor": 0.5
		},
		{
			"effect": "frostslow",
			"value": 15,
			"type": "hypo",
			"factor": 0
		},
		{
			"effect": "frozenburning",
			"value": 25,
			"type": "hypo",
			"factor": 1
		},
		{
			"effect": "frostsnare",
			"value": 20,
			"type": "hypo",
			"factor": 0.5
		},
		{
			"effect": "biomecold",
			"value": 10000,
			"type": "hypo",
			"factor": 2.5
		},
		{
			"effect": "biomeheat",
			"value": 10000,
			"type": "hyper",
			"factor": 2.5
		},
		{
			"effect": "melting",
			"value": 10000,
			"type": "hyper",
			"factor": 4
		}
	]
}