// #######################################
//
// EHT config
//  * Weather
//
// #######################################
{
	"weathertypes" : [
		{
			"name" : "IB_EHT_acidrain",
			"mod" : 1,
			"type" : "hypo",
			"skipWind" : false
		},
		{
			"name" : "IB_EHT_ash",
			"mod" : 2,
			"type" : "hyper",
			"skipWind" : false
		},
		{
			"name" : "IB_EHT_clear",
			"mod" : 0,
			"type" : "hypo",
			"skipWind" : true
		},
		{
			"name" : "IB_EHT_crystalrain",
			"mod" : 0,
			"type" : "hypo",
			"skipWind" : true
		},
		{
			"name" : "IB_EHT_drizzle",
			"mod" : 0,
			"type" : "hypo",
			"skipWind" : false
		},
		{
			"name" : "IB_EHT_duststorm",
			"mod" : 0,
			"type" : "hypo",
			"skipWind" : false
		},
		{
			"name" : "IB_EHT_ember",
			"mod" : 5,
			"type" : "hyper",
			"skipWind" : true
		},
		{
			"name" : "IB_EHT_fog",
			"mod" : 2,
			"type" : "hypo",
			"skipWind" : true
		},
		{
			"name" : "IB_EHT_glowingrain",
			"mod" : 1,
			"type" : "hyper",
			"skipWind" : true
		},
		{
			"name" : "IB_EHT_groundmist",
			"mod" : 2,
			"type" : "hypo",
			"skipWind" : true
		},
		{
			"name" : "IB_EHT_hailstones",
			"mod" : 5,
			"type" : "hypo",
			"skipWind" : false
		},
		{
			"name" : "IB_EHT_icestorm",
			"mod" : 5,
			"type" : "hypo",
			"skipWind" : false
		},
		{
			"name" : "IB_EHT_junkstorm",
			"mod" : 0,
			"type" : "hypo",
			"skipWind" : false
		},
		{
			"name" : "IB_EHT_largemeteor",
			"mod" : 0,
			"type" : "hypo",
			"skipWind" : true
		},
		{
			"name" : "IB_EHT_lightash",
			"mod" : 2,
			"type" : "hyper",
			"skipWind" : true
		},
		{
			"name" : "IB_EHT_meteorshower",
			"mod" : 0,
			"type" : "hypo",
			"skipWind" : true
		},
		{
			"name" : "IB_EHT_rain",
			"mod" : 2,
			"type" : "hypo",
			"skipWind" : true
		},
		{
			"name" : "IB_EHT_sandstorm",
			"mod" : 0,
			"type" : "hyper",
			"skipWind" : false
		},
		{
			"name" : "IB_EHT_snow",
			"mod" : 2,
			"type" : "hypo",
			"skipWind" : true
		},
		{
			"name" : "IB_EHT_snowstorm",
			"mod" : 2,
			"type" : "hypo",
			"skipWind" : false
		},
		{
			"name" : "IB_EHT_spacedust",
			"mod" : 0,
			"type" : "hypo",
			"skipWind" : true
		},
		{
			"name" : "IB_EHT_spacejunk",
			"mod" : 0,
			"type" : "hypo",
			"skipWind" : true
		},
		{
			"name" : "IB_EHT_storm",
			"mod" : 2,
			"type" : "hypo",
			"skipWind" : false
		},
		{
			"name" : "IB_EHT_windstorm",
			"mod" : 0,
			"type" : "hypo",
			"skipWind" : false
		}
	]
}
