{
	"paneLayout" : "/interface/windowconfig/portraitconfirmation.config:paneLayout",
	"icon" : "/interface/ib_eht/icon.png",
	"title" : "Biome import confirmation",
	"subtitle" : "Change planets EHT config?",
	"message" : "\nAre you sure that you want to add following biome compatibility card to this planets EHT config?\n\nBiome: ",
	"okCaption" : "Change",
	"cancelCaption" : "Don't change",
	"images" : {
		"portrait" : "/items/ib_eht/ib_eht_compat.png"
	},
	"labels" : {
		"name" : "EHT Config"
	}
}
